body * {
    margin: 10px;
    padding: 0;
    text-align: center;
    color: rgb(228, 228, 228);
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: rgb(0, 0, 0);
    margin: 0;
}
header * {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    text-shadow: 0px 0px 8px rgb(228, 228, 228);
}
ul.playlist {
    list-style: none;
    margin: 20px;
    font-size: 20px;
}
ul.playlist li {
    border-bottom: 2px solid rgba(228, 228, 228, 0.266);
    border-radius: 10px;
}
ul.playlist li:hover a:active {
    color: rgb(110, 223, 186);
}
ul.playlist li:hover {
    text-shadow: 0px 0px 10px rgb(168, 168, 168);
    font-size: 1.05em;
    text-decoration: underline;
    font-weight: 500;
    color: rgb(168, 168, 168);
    background-color: rgb(22, 22, 22);
}
.title {
    color: rgb(159, 148, 133);
    margin: 0;
}
.ad * {
    display: block;
    margin: 20px auto;
    font-size: 24px;
    width: 60px;
    border: none;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}
button#addm:hover {
    color: rgb(168, 168, 168);
    text-shadow: 0px 0px 3px rgb(168, 168, 168);
    font-size: 25.2px;
    background-color: rgb(72, 72, 72);
}
#warn {
    background-color: rgb(255, 186, 186);
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    width: 380px;
}
button.delete {
    display: inline-block; 
    width: 16px; 
    height: 16px; 
    color: rgb(245, 245, 245); 
    background-color: rgb(255, 110, 110); 
    border-radius: 4px; 
    border: none;
    text-align: center;
    font-size: 14px;
    position: absolute;
    right: 0px;
    margin: 4px 40px;
}
header {
    position: sticky;
    top: 0px;
    width: 100vw;
    background-color: black;
    height: 36px;
    border-bottom: 1px solid white;
    padding-top: 0px;
    margin: 0;
}
#change {
    background-color: rgb(149, 149, 149);
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 3vw;
    margin: 10px;
    display: inline-block;
    color: black;
}
.likeB {
    position: relative;
    right: 2px;
    bottom: 2px;
    width: 16px;
    height: 16px;
    background-color: inherit;
    border: none;
    margin: 0;
    text-align: center;
    transform: scale(1.5);
}
#fav {
    display: none;
}